/* General */
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Nav bar section */
#navbar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2327;
  padding-block: 15px;
  padding-top: 2rem;
  gap: 2rem;
}
#navbar ul {
  flex-direction: row;
}
.navitems {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.navitems:hover {
  color: #71a2ca;
  transition: ease-in 0.2s;
  font-size: 1.8rem;
}

/* All pages Setup */
#home,
#AllQoutes,
#SearchQoutes,
#SearchAuthors,
#RandomQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #1f2327, #5fa2d8);
  height: 100vh;
}
#footer {
  background-image: linear-gradient(to top, #1f2327, #5fa2d8);
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
}

/* Home page */
#home {
  display: flex;
  flex-direction: column;
  color: #fff;
}
#home h1 {
  margin: 0;
}
@media (max-width: 550px) {
  #navbar {
    flex-direction: row;
  }
  .navitems {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  #home h1 {
    font-size: 1.5rem;
  }
  #home h2 {
    font-size: 1.25rem;
  }
  #home h3 {
    font-size: 1rem;
  }
}

/* All Quotes Section */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#AllQoutes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 60px;
  overflow: auto;
  padding: 2rem;
}
.quotebox {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  background-image: linear-gradient(to top, #5c86a8, #71a2ca);
}
.quotebox h3 {
  font-size: 1.5rem;
}
.quotebox p {
  font-size: 1.3rem;
  color: white;
  font-weight: bolder;
}

/* SearchQoutes */
#SearchQoutes {
  display: flex;
  flex-direction: column;
}
#AllSearchedQoutes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 60px;
  overflow: auto;
  padding: 2rem;
}
#searchInput {
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
}
@media (max-width: 740px) {
  #searchInput {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 420px) {
  #searchInput {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}

/* RandomQuote */
#RandomQuote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.randombtn:hover {
  cursor: pointer;
  background-color: #71a2ca;
  color: white;
}
/* Footer Section */
#footer p {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
